@custom-media --landscape (orientation: landscape);
@custom-media --portrait (orientation: portrait);

:root {
  --primaryColor: #c3b6ff;
  --secondaryColor: #755ac7;
  --accentColor: #c8c671;
  --accentColor2: #d44a4f;
  --primaryColorDark: #585272;
  --secondaryColorDark: #362a5c;
  --baseTextColor : #202020;
}


