@custom-media --landscape (orientation: landscape);
@custom-media --portrait (orientation: portrait);

:root {
  --primaryColor: #c3b6ff;
  --secondaryColor: #443756;
  --accentColor: #c8c671;
  --accentColor2: #892f32;
}


